{% extends "::base.html.twig" %}

{% block title %}BlackJack{% endblock %}

{% block body %}
<h1>Welcome to the Gameplay page</h1>


<p>You now have a total of {{ playerValue }}</p>

<h3>{{ message }}</h3>
{% if canPlay %}
	<a href="/playPlayer/{{ roundId }}/{{ playerValue }}">Take a card</a>
	<a href="/playBank/{{ roundId }}/{{ playerValue }}">Stop</a>
{% else %}
	<a href="/bank/{{ roundId }}/{{ status }}">Continue</a>
{% endif %}
{% endblock %}
